Project_3/Assignment6TryIt/Connected Services/AllServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar32.fulton.asu.edu/Page5/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar32.fulton.asu.edu/Page5/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar32.fulton.asu.edu/Page5/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Top10Words_InputMessage">
    <wsdl:part name="parameters" element="tns:Top10Words" />
  </wsdl:message>
  <wsdl:message name="IService1_Top10Words_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top10WordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WeatherService_InputMessage">
    <wsdl:part name="parameters" element="tns:WeatherService" />
  </wsdl:message>
  <wsdl:message name="IService1_WeatherService_OutputMessage">
    <wsdl:part name="parameters" element="tns:WeatherServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BrakeService_InputMessage">
    <wsdl:part name="parameters" element="tns:BrakeService" />
  </wsdl:message>
  <wsdl:message name="IService1_BrakeService_OutputMessage">
    <wsdl:part name="parameters" element="tns:BrakeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getCar_InputMessage">
    <wsdl:part name="parameters" element="tns:getCar" />
  </wsdl:message>
  <wsdl:message name="IService1_getCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ScheduleAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_ScheduleAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OilServiceRecommendation_InputMessage">
    <wsdl:part name="parameters" element="tns:OilServiceRecommendation" />
  </wsdl:message>
  <wsdl:message name="IService1_OilServiceRecommendation_OutputMessage">
    <wsdl:part name="parameters" element="tns:OilServiceRecommendationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Top10Words">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Top10Words" message="tns:IService1_Top10Words_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Top10WordsResponse" message="tns:IService1_Top10Words_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WeatherService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WeatherService" message="tns:IService1_WeatherService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WeatherServiceResponse" message="tns:IService1_WeatherService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BrakeService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BrakeService" message="tns:IService1_BrakeService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BrakeServiceResponse" message="tns:IService1_BrakeService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCar" message="tns:IService1_getCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCarResponse" message="tns:IService1_getCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ScheduleAppointment" message="tns:IService1_ScheduleAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ScheduleAppointmentResponse" message="tns:IService1_ScheduleAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OilServiceRecommendation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OilServiceRecommendation" message="tns:IService1_OilServiceRecommendation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OilServiceRecommendationResponse" message="tns:IService1_OilServiceRecommendation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Top10Words">
      <soap:operation soapAction="http://tempuri.org/IService1/Top10Words" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeatherService">
      <soap:operation soapAction="http://tempuri.org/IService1/WeatherService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BrakeService">
      <soap:operation soapAction="http://tempuri.org/IService1/BrakeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCar">
      <soap:operation soapAction="http://tempuri.org/IService1/getCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/ScheduleAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OilServiceRecommendation">
      <soap:operation soapAction="http://tempuri.org/IService1/OilServiceRecommendation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar32.fulton.asu.edu/Page5/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>